<settings>
   <servers>
      <server>
         <id>Nexus</id>
         <username>${vpiskunou}</username>
         <password>${vpiskunou_password}</password>
      </server>
   </servers>
   <mirrors>
      <mirror>
         <id>Nexus</id>
         <mirrorOf>*</mirrorOf>
         <url>http://172.19.0.3:8081/repository/Nexus/</url>
      </mirror>
   </mirrors>
   <profiles>
      <profile>
         <id>vpiskunou</id>
         <!--Enable snapshots for the built in central repo to direct -->
         <!--all requests to nexus via the mirror -->
         <repositories>
            <repository>
               <id>central</id>
               <url>http://central</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>central</id>
               <url>http://central</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <activeProfiles>
      <!--make the profile active all the time -->
      <activeProfile>vpiskunou</activeProfile>
   </activeProfiles>
</settings>